<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <h3>I'm in the AppComponent!</h3>
      <hr />
      <app-servers></app-servers> -->
      <hr />
      <button class="btn btn-primary" (click)="toggleDetails()">
        Display Details
      </button>
      <p *ngIf="showDetails">Secret Password = tuna</p>
      <div
        *ngFor="let logItem of log; let index = index"
        [ngStyle]="{ backgroundColor: index >= 4 ? 'blue' : 'transparent' }"
        [ngClass]="{ after5Log: index >= 4 }"
      >
        {{ logItem }}
      </div>
    </div>
  </div>
</div>
